// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$breakpoint-mobile: 960px;
$color-kakao: #fee500;
$color-naver: #1EC800;
$color-google: #ffffff;


@mixin mobile {
    @media (max-width: #{$breakpoint-mobile}){
      @content;
    }
}